@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Oswald:wght@200..700&display=swap');

body{
    font-family:'Jura', sans-serif;
    background-color: #90B0DB;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: aliceblue;
}

img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

@media(max-width: 500px){
    h1{
        font-size: 20px;
    }
    #container{
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        
    }
}


#container{
    display: flex;
    flex-direction: column;
    background-color: #5989C9 ;
    width: 40%;
    height: 70%;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    
}
#btnBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;

}

#btn{
    border-radius: 5px;
    font-family: 'Jura';
    background-color:#909ca4 ;

}

#inCpf{
    border-radius: 10px;
    font-family: 'Jura';
    appearance: none;
    
}

#res{
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
